{# templates\formulaire\new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouveau formulaire{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/new.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
{% include 'navbar.html.twig' %}
<main id="mainNew">
    {{ include('components/back_button.html.twig') }}
    <section id="mainContentNew" class="col-11">
        <h2 style="text-align: center; margin-bottom: -10px;">Créer un nouveau formulaire</h2>
        <hr>
        <div class="divFormNew">
            {{ include('formulaire/_form.html.twig') }}
        </div>
        <hr>
        <div id="btnsNew" class="mb-2">
            {{ include('components/creation_button.html.twig') }}
            <button class="btnCancel ms-4" name="cancel">
                <a href="{{ path('app_formulaire_index') }}" title="Annuler" class="backCanc">
                    <ion-icon name="stop-outline"></ion-icon>
                </a>
            </button>
        </div>
    </section>
</main>
<script>
document.getElementById('siretInput').addEventListener('input', function () {
  this.value = this.value.replace(/\D/g, '');
});
document.getElementById('phoneInput').addEventListener('input', function () {
  this.value = this.value.replace(/\D/g, '');
});
</script>
{% endblock %}
